<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hackron</title>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/app.css" />
    <script src="{{ SITEURL }}/theme/bower_components/modernizr/modernizr.js"></script>
    {% block extrahead %}{% endblock %}
    <style>
<!--
body {
  background: url( "{{ SITEURL }}/theme/img/noise.png");
}

footer {
  margin-top: 3em;
  background-color: #222;
  font-size: small;
  padding: 2em;
}

footer p {
  font-size: small;
}
-->
    </style>
  </head>
  <body>
    {% block canvas %}{% endblock canvas %}
    
  <!-- <footer>
    <div class="row">
      <div class="small-9 columns">
        <p>Made with <span style="color:#f00">❤</span> by Hackronites</p>
        <p>View this page on GitHub <a href="http://github.com/hackron/frontpage"></a></p>
      </div>
    </div>
  </footer> -->
    <script src="{{ SITEURL }}/theme/bower_components/jquery/jquery.js"></script>
    <script src="{{ SITEURL }}/theme/bower_components/foundation/foundation.js"></script>
    <script src="{{ SITEURL }}/theme/js/app.js"></script>
  </body>
</html>
