<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hackron</title>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/app.css" />
    <script src="{{ SITEURL }}/theme/bower_components/modernizr/modernizr.js"></script>
    <style>
<!--
body {
  background: url( "{{ SITEURL }}/theme/img/noise.png");
}
#masthead p {
  font-size: large;
}
-->
    </style>
  </head>
  <body>
    <form action="http://hackron.us8.list-manage.com/subscribe/post?u=53b30a03e770135e6b2f3dc8b&amp;id=8e1bc02620" method="post">
      <div class="row" id="masthead">
        <div class="large-12 columns">
          <h1>Hackron</h1>
          <p><em>Hackerspace</em>, n: A community-operated place where people can meet
          and work on their projects.</p>
        </div>
      </div>
      <div class="row">
        <div class="large-8 columns">
          <p>Hackron is an infrastructure provider for creative people in Akron,
          Ohio. We value tools over pre-emptive rules, and spurn the key and the
          lock.</p>
          <p>If you'd like to follow along and get involved, join our mailing
          list:<p>
        </div>
        <div class="large-4 columns">
          <!-- Begin MailChimp Signup Form -->
            <label for="mce-EMAIL">Email Address </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_53b30a03e770135e6b2f3dc8b_8e1bc02620" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
    </form>
    
    <script src="{{ SITEURL }}/theme/bower_components/jquery/jquery.js"></script>
    <script src="{{ SITEURL }}/theme/bower_components/foundation/foundation.js"></script>
    <script src="{{ SITEURL }}/theme/js/app.js"></script>
  </body>
</html>
